/*-------- Google poppins fonts link -------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

.header__bg {
  background-color: #264653;
}

.btn__bg {
  background-color: #e76f51;
}

.Custom__textColor {
  color: #e76f51;
}

.line {
  width: 80px;
  border: 1px solid #e76f51;

  margin: 0 auto;
}

.featured .feaured__row div img {
  filter: grayscale(100%);
}

.featured .feaured__row div:nth-child(2) img {
  filter: grayscale(0);
}

/* latest News */
.latest_News .row button {
  color: #e76f51;
  background-color: #ffffff;
  border: 2px solid #e76f51;
  transition: 0.4s all ease;
}

.latest_News .row button:hover {
  background-color: #e76f51;
  color: #ffffff;
}

/* Clients section  */

.clients__ratings i {
  color: #e77c40;
}

/* Faq section  */

.accordion-button:focus {
  border-color: transparent !important;
  outline: 0 !important;
  box-shadow: none !important;
  background: transparent !important;
}
